$red:#f24941;
$blue:#1184d3;
$light_Blue:#38a6ed;
@media (min-width: 1200px){
    .container {
        width: 1142px;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    transition: .3s ease;
}
li{
    list-style: none;
}
ul{
    margin-bottom: 0;
}
nav{
    border-top:#d6d3d3 solid 1px;
    border-bottom:#d6d3d3 solid 1px;
}
header{
    padding-top:16px;
}
.intro-header-text{
    &__text{
        letter-spacing: -0.2px;
        line-height: 23px;
    }
}
.nav-list{
    display: flex;
    justify-content: space-between;
    padding:7px 16px;
    &__link{
        color:#000;
        font-weight: 700;
        text-transform: uppercase;
        &:hover{
            transition: .2s ease-in-out;
            color:$red;
            text-decoration: underline;
        }
    }
}
.breadcrumb{
    background: none;
    margin-bottom: 0;
    padding: 0;
}
.breadcrumb-list{
    display: flex;
    justify-content: center;
    &__item{
        padding: 7px 10px;
        &:after{
            content:'/';
            margin-left: 17px;
            display: inline-block;
        }
    }
    &__link{
        color:#000;
        font-size: 12px;
    }
}
.title-product{
    text-align: center;
    margin-top: 5px;
    &__text{
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2.4px;
    }
}
.work-time-wrap{
    background: url(http://sklad.moscow/images/time.png) no-repeat 25px center;
    padding: 5px 0 0 71px;
    &__text{
        letter-spacing: .1px;
    }
}
.wrap-social-list{
    display: flex;
}
.social-list{
    &__item{
        line-height: 19px;
    }
    &__text{
        font-size:13px;
        color:#000;
    }
}
.header-social-address{
    max-width: 190px;
}
.no-wrap-text{
    white-space: nowrap;
}
.list-img-product{
    margin-left: 66px;
    max-width: 105px;
    &__item{
        max-width: 104px;
        margin-bottom: 37px;
    }
    &__img{
        cursor: pointer;
    }
}
.wrap-prev-img-product{
    display: flex;
    margin-top: 11px;
}
.prev-product-img{
    padding-top: 16px;
    padding-left: 9px;
    min-width: 377px;
}
body{
    background: url('//page.png') no-repeat center top;
}
.info-product{
    margin-top: 42px;
    padding-left: 49px;

}
.metro-location{
    background: url('shape-2.png') no-repeat;
    &__name{
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 1.2px;
        margin-left: 59px;
        font-weight: bold;
    }
    &__address{
        line-height: 38px;
        font-size: 20px;
        letter-spacing: -1.1px;

        &_product{
            line-height: 31px;
        }
    }
    &_product{
        margin-top:13px;
        & p {
            margin-bottom: 0;
        }
    }
}
.price-product{
    margin-top: 17px;
    &__day{
        font-size: 18px;
        color:$red;
        font-weight: bold;
        letter-spacing: 1.6px;
        margin-bottom: 0;
    }
    &__month{
        color:$red;
        font-size: 18px;
        letter-spacing: 0.9px;
    }

}
.buy-product-wrap{
    margin-left: 23px;
    display:flex;
    margin-top: 32px;
}
.prod-btn{
    border:none;
    color:#fff;
    padding: 6px 22px;
    font-size: 19px;
    letter-spacing: -0.6px;
    outline: none;
    background: none;
}
.blue-btn{
    background: $blue;
}
.red-btn{
    background: $red;
}
.arend-btn{
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    padding-left: 28px;
    padding-right: 28px;

}
.one-click-buy{
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    padding-left: 19px;
    padding-right: 19px;
}
.get-consultation{
    margin: 46px 0 0 28px;
    &__btn{
        color:#000;
        text-decoration: underline;
    }
}
.tab-list{
    display: flex;
    justify-content: space-between;
    padding: 0 91px;
    &__item{
        font-size: 16px;
        letter-spacing: 0.8px;
        padding: 6px 0;
        cursor: pointer;
        border-top:2px solid transparent;
        border-bottom:2px solid transparent;
    }
}
.tab-info-prod{
    margin-top: 38px;
}
.active-tab{
    border-top:2px solid $red;
    border-bottom:2px solid $red;
    color:$red;
}
.data-item-tab{
    display: none;
}
.data-item-tab-active{
    display: block !important;
}
.tab-list-data{
    padding: 0 91px;
}
.tab-list-data{
    padding-top: 44px;
}
.data-item-tab p{
    font-size: 16px;
    letter-spacing:0;
}
.about-table{
    width:80%;
    margin: 0 auto;
}
.about-table tr{
    padding:10px;
}
.about-table tr > td{
    padding: 10px 10px 10px 39px;
}
.about-table tr:nth-child(even){
    background:#f0f0f0;
}
.green-btn{
    background: #89c028;
    border-radius: 24px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: -0.9px;
    padding: 8px 36px;
}
.footer-small-contact{
    margin-top: 20px;
}
.footer-list-item{
    text-align: center;
}
.footer-list-item a{
    line-height: 2.7;
    color:#000;
    border-bottom: 1px dotted $light_Blue;
}
.footer-small-contact a:hover{
    text-decoration: none;
}
footer{
    margin-top: 50px;
}
footer .social-list__text{
    max-width: 100%;
    line-height: 1.9;
    font-size: 18px;
}
footer .header-social-address{
    min-width:auto;
}
.social-list__text svg{
    margin-right: 8px;
}
.social-list__text svg path{
    fill:$light_Blue;
}
.btn-pen{
    font-size: 14px;
    margin-right: 16px;
    position: relative;
}
footer .wrap-social-list{
    margin-top: 25px;
    margin-bottom: 35px;
}
.post-footer{
    border-top: 1px solid #ececec;
    padding-top:44px;
}
.call-back{
    background: $blue;
    padding:10px;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    margin-bottom: 20px;
    padding: 8px 45px;
}
.call-phone{
    margin-right: 20px;
}
.footer-call-btn{
    float: right;
}
.no-border-top{
    border-top: none;
}
.left-category-box{
    margin-top: 21px;
    &__item {
        margin-bottom: 20px;
    }

}
.inner-list-box{
    &__item{
        text-decoration: none;
        font-weight: 200;
        line-height: 2;
        display: block;
        margin-left: 7px;
        margin-top: 5px;
    }
    &__link{
        line-height: 2.8;
        color:#000;
        text-decoration:none;

        &:hover{
            color:#000;
            text-decoration: none;
            font-weight: 700;
        }
    }
}
.left-cotegory-title{
    background: none;
    border: none;
    text-decoration: underline;
    outline: none;
    transition: .3s ease;
    letter-spacing: 1.3px;
}
.left-cotegory-title:hover{
    font-weight: 900;
}
.metro-item{
    background: url(shape-2_hover.png) no-repeat center left;
    background-size: 22px 14px;
    padding-left: 40px;
    transition: .4s ease;

  &:hover{
    background: url(shape-2.png) no-repeat center left;
    background-size: 22px 14px;
  }
}
.inner-list-box{
    display: none;
}
.open-drop-menu{
    display: block !important;
}
.active-drop-menu{
    font-weight: 700;
    text-decoration: underline;
}
.wrap-title-page{
    margin-top: 13px;
    padding-left: 21px;
}
.title-page{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 37px;
    letter-spacing: 0.9px;
}
.sub-title-page{
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.7px;
}
.variable-view{
    display: flex;
    margin-top: 19px;
    margin-left: 4px;
    &__btn{
        background: none;
        padding: 10px 13px;
        font-size: 18px;
        color: #d6d3d3;
        border: 1px #d6d3d3 solid;
    }

}
.no-border-left{
    border-left: none;
}
.size-box{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    margin-top: 24px;

    &__link{
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1.6px;
        color:#000;
        text-decoration: none;
        transition: .3s ease;
        &:hover{
            text-decoration: underline;
            color:$red;
        }
    }
}
.active-nav-link{
    color:$red;
}
.metro-box-list{
    display: flex;
    margin-top: 21px;
    margin-left: 22px;
    &__item{
        padding-left: 26px;
    }
    &__link{
        letter-spacing: -0.8px;
        color:#000;
        text-decoration: none;
        &:hover{
            color: $red;
            text-decoration: none;
        }
    }
}
.big-view-product-item{
    border: 1px solid #d6d3d3;
    padding: 12px 42px;
    display: flex;
    margin-bottom: 18px;
    transition: .3s;
    &:hover{
      box-shadow:3px 8px 39px -9px rgba(0, 0, 0, 0.75);
    }
}
.mini-view-product-item:hover{
  box-shadow: 3px 8px 39px -9px rgba(0, 0, 0, 0.75);
}
.product-view-list{
    margin-top: 28px;
}
.info-prod-view{
    padding-left: 53px;
    padding-top: 4px;
}
.info-prod-view{
    &__name-link{
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: -0.7px;
        color:#000;
        font-weight: bold;
        &:hover{
            color:$red;
        }
    }
}
.info-prod-view .price-product{
    margin-top: 4px;

}
.product-view__arend-btn{
    font-size: 20px;
    font-weight: bold;
    padding: 8px 32px;
    letter-spacing: 0.5px;
    margin-top: 4px;
}
.img-prod-view{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini-view-product-item{
    border:1px solid #d6d3d3;
    padding-top: 13px;
    margin-bottom: 18px;
  transition: .3s ease;
}
.mini-view-product-item .info-prod-view{
    padding-left: 0px;
    padding-bottom: 12px;
    padding-bottom: 0;
    padding-top: 0;
}
.info-prod-view_mini-view{
    padding: 20px;
    padding-left: 20px !important;
}
.mini-cart-btn{
    padding: 8px 0;
    width: 100%;

}
.mini-card-prod-info .info-prod-view__name-link,.mini-card-prod-info  .price-product__day{
  font-size: 16px;
}
body{
   /// background: url("склады-каталог.jpg") center top no-repeat;
}
#drop-nav-menu{
  display: none;
}
//media

@media (max-width: 760px) {
  .nav-list{
    display: none !important;
  }
  #drop-nav-menu{
    display: block;
    float:right;
    background: none;
    border:none;
    font-size: 20px;
  }
  .big-view-product-item{
    display: block;
    padding: 12px 14px;
  }
  .info-prod-view{
    padding-left: 0;
  }
  .big-view-product-item{

  }
  .no-wrap-text{
    white-space: pre-wrap;
  }
  .size-box{
    display: block;
  }
  .wrap-title-page{
    padding-left: 0;
  }
  .variable-view {

    &__btn {
      padding: 10px 10px;
    }
  }
  .nav-list{
    display: block;
  }
  .wrap-social-list{
    display: block;
  }
  header .intro-header-text, header .wrap-social-list{
    display: none;
  }
  .wrap-breadcrumb-list{
    display: none;
  }
  .work-time-wrap{
    display: none;
  }
  .title-product__text{
    font-size: 17px;
  }
  .prev-product-img{
    min-width: auto;
  }
  .wrap-prev-img-product{
    flex-direction: column-reverse;
  }
  .prod-btn{
    font-size: 13px;
  }
  .tab-list-data,.tab-list{
    padding: 0;
  }
  .tab-list{
    display: flex;
    flex-wrap: wrap;
  }
  tab-list__item{
    font-size: 13px;
  }
  .about-table{
    width: 100%;
  }
  .list-img-product{
    max-width: 100%;
    margin-left: 0;
    display: flex;
  }
  .about-table tr > td{
    padding: 10px 1px 9px 10px;
  }
  .data-item-tab p{
    font-size: 14px;
  }
}